@import url('https://fonts.googleapis.com/css?family=Dancing+Script:wght@400;500&display=swap');

:root {
  --primary: #8c54ff;
  --secondary: #F3A847;
  --tertiary: #B12704;
  --light: #fafafa;
  --dark: #000000;
  --darker: #111111;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(10.5rem);
  --spacing-ten: calc(25.5rem);
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.mx-5 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-five);
}

.mx-10{
  margin-left: var(--spacing-ten);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  background: var(--dark);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

footer{
  background: var(--dark);
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 2.25rem;
}

.NavUl, .FooterUl{
  display: flex;
  justify-content: space-between;
}

.NavLi, .FooterLi {
  margin-right: 20px;
  list-style: none;
  color: var(--light);
  font-size: 1.25rem;
  margin-top: 20px;
}

nav  li {
  cursor: pointer;
}

img{
  width: 50%;
  height: auto;
}

.example {
  position: relative;
  padding: 0;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
}
.content {
  opacity: 0;
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
  color: #1c87c9;
  background-color: rgba(200, 200, 200, 0.5);
  width: 50%;
  height: 100%;
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  -ms-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  text-align: center;
}
.example .content:hover {
  opacity: 1;
}
.example .content .text {
  height: 0;
  opacity: 0;
  transition-delay: 0s;
  transition-duration: 0.4s;
}
.example .content:hover .text {
  opacity: 1;
  transform: translateY(90px);
  -webkit-transform: translateY(90px);
}

.contact, .resume,.aboutme, .portfolio{
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: var(--primary);
  background-color: var(--secondary);
  width: 40%;
  height: auto;
}

.aboutme{
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 20px;
  flex-wrap: wrap;
}

.aboutme p{
   font-size: 30px;
   font-family: 'Dancing Script', cursive;
}

.resume{
  width: 60%;
  height: auto;
}

.portfolio{
  width: 90%;
  height: auto;
  margin: 80px;
}

.portfolio-header{
  text-align: center;
}

.name{
  margin-left: 90px;
  
}

.email{
  margin-left: 31px;
  
}

.message{
  margin-left: 64px;
  
}

.inputField{
  margin-top: 20px;
}
